{% extends 'base.html'%}

{% block content %}
    <div class="container"  style="max-height: 300px;overflow: auto;">
        <form method="POST">
            <div class="row">
                <div class="col">
                    <label for="StartDate">Enter Trading Day:</label>
                    <input class="form-control" type="date" name="StartDate" id="StartDate">
                </div>
                <div class="col">
                    <label for="lookback">Number of Days in Return/Covariance Estimate:</label>
                    <input class="form-control" type="number" name="lookback" id="lookback">
                </div>
            </div>

    <div class="row">
        <div class="form-check">
            {% for stock in stocks: %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="universe" value={{stock}} id={{stock}}>
                    <label class="form-check-label" for={{stock}}>
                        {{stock}}: {{stocks[stock]}}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>

            <button>Submit</button>
        </form>
    </div>
{% endblock %}